[2017-01-12 11:49] fquffio opened #1 "Composer should always be available"
Composer should be available for all tags (including Apache and FPM), not only in CLI images.

[2017-01-12 11:50] fquffio opened #2 "Add PHP 7.1"
As PHP 7.1 was released, new images should be available.

[2017-01-12 12:13] fquffio opened #3 "XDebug fails to install in PHP 5.4 dev image"
XDebug extension became unavailable in PHP 5.4, and can't be installed via PECL anymore:

[code]

[2017-01-12 12:21] fquffio opened #4 "Do not arbitrarily global-install packages from Composer in dev images"
PHPUnit, PHPMD and PHP CS can still be installed on a per-project basis using Composer's development dependencies. Installing them globally is rather pointless.

[2017-01-12 12:26] #1 closed

[2017-01-12 12:26] #3 closed

[2017-01-12 13:18] #4 closed

[2017-01-12 13:19] fquffio opened #5 "Install XDebug on PHP 7.x dev images"
As XDebug became available for install via PECL in PHP 7.x, it should come pre-installed in developer images.

[2017-01-12 17:53] #2 closed

[2017-01-12 17:53] #5 closed

[2017-01-12 17:54] fquffio opened #6 "Install Redis extension on PHP 7.x"
Redis PHP extension, available via PECL, should be installed on PHP 7.x images

[2017-01-13 06:38] #6 closed

[2017-05-02 13:42] Nemo64 opened #7 "opcache extension"
How about installing opcache? It is useful basically everywhere or at least in the apache/fpm versions.

[2017-05-02 14:03] fquffio commented on #7
Seems a good idea! Would you open a PR? I honestly have no idea of which build/runtime depencencies OPCache has: I have always installed it via APT. 😄  I can take care of it, but it will take me some time…

[2017-05-03 08:27] Nemo64 opened #8 "memcached.so does not exist"
I am currently trying to install opcache in the php containers (see: #7), however all old images are failing while building because of memcached. I'm trying to figure out why.

I run the test like with this little script

[code]

[2017-05-03 09:03] fquffio commented on #8
First of all, thanks again for your interest. :)

Problem seems to be that PECL Memcached now requires PHP ≥ 7.0 (see also [here](https://hub.docker.com/r/chialab/php/builds/bhkiztafwxzbpwqxybsteev/)):
[code]

A possible fix could be https://github.com/docker-library/php/issues/132#issuecomment-280971189.

As a side note, I noticed that Travis build, which is supposed to run once a week, was skipp

[2017-05-03 09:28] fquffio commented on #8
@Nemo64 There is some chance that the problem is now fixed. I have opened a PR (#9). Do you have time to take a quick look at that before being merged?

[2017-05-03 10:10] fquffio opened #10 "Install Memcached on PHP 7"
Memcached extension version 3 supports (only) PHP 7, therefore we can install Memcached on current-gen PHP images as well.

[2017-05-03 12:38] #8 closed

[2017-05-03 21:40] #10 closed

[2017-05-04 09:30] fquffio opened #13 "Re-think CI for dev images"
At the present status, Travis CI jobs for dev images build such images on top of `chialab/php` images pulled from Docker Hub.

This causes problems when adding features to base `chialab/php` images, since tests will very likely fail for `chialab/php-dev` images (see #11 and #12). The CI for dev images must be re-thought.

[2017-05-04 09:33] #7 closed

[2017-05-04 12:30] Nemo64 opened #15 "Is there a rule for which extensions are included?"
I work with typo3 which requires the extensions bcmath and soap.
BCMath is secretly also required by a swiftmailers NTLMAuthenticator. (just as a more common usage example)
It is fairly easy to install them afterwards but still a step slower than if they were installed already.
Is there a rule for which extensions are included?

[2017-05-04 13:30] fquffio commented on #15
No, there isn't.

We created this image to meet our own needs: we work mainly with [CakePHP](https://cakephp.org), so we installed the extensions required by the framework, plus a small set of extensions we commonly use. I honestly see no drawbacks of having an image with a few more extensions than strictly needed: some prefer Docker images to have a very small footprint, and to be as "slim" as po

[2017-05-23 08:36] fuzzy76 commented on #3
How was this bug fixed by removing 5.4 from CI?

[2017-05-23 08:43] fquffio commented on #3
@fuzzy76 Yeah, I know it is not a "solution" properly said. 😞  However, since PHP 5.4 became end-of-life long ago, I thought that it would have been simpler to just drop it.

Images with PHP 5.4 and XDebug are just no longer built — not only not tested on CI 😂 . You can still find the old versions on Docker Hub, but, as you can see from [here](https://hub.docker.com/r/chialab/php-dev/tags/), the l

[2017-05-23 08:55] fuzzy76 commented on #3
I actually use this image for the sole purpose of isolating an old legacy PHP 5.4 web app, since it was the best fit I could find (fairly updated and with PHP 5.4 is pretty rare). But xdebug is not an absolute requirement for me yet, so you probably have better stuff to spend your time on. :) I just hope you won't remove PHP 5.4 completely. I see some general fixes has been applied to the sources

[2017-05-23 08:59] fquffio commented on #3
I assume you're talking about [`chialab/php-dev`](https://hub.docker.com/r/chialab/php-dev/). 🤔  If XDebug is not required, you should probably take a look at [`chialab/php`](https://hub.docker.com/r/chialab/php/) instead. For those images, XDebug is not installed, and PHP 5.4 images should be fairly up-to-date — as far as I can see, latest build was 10 days ago.

[2017-05-23 09:02] fquffio commented on #3
However, keep in mind that these images are built on top of official PHP images. Thus, they can't be "much more up-to-date" (...) than their official counterpart.

[2017-05-23 09:08] fuzzy76 commented on #3
Actually I was talking about chialab/php - I prefer to use the same image for local development, just run a script after build for doing some environment changes.

[2017-06-02 08:58] fuzzy76 commented on #3
FWIW, the issue description is pretty unaccurate. I thought everything was broken, but the problem is that xdebug 2.5.0 require PHP 5.5 or higher. So installing xdebug-2.4.1 as a normal PECL works like a charm for PHP 5.4.

[code]

[2017-09-01 11:26] Nemo64 commented on #13
A simple solution would be to simply auto generate the docker files and not include the main image in the dev image but creating them all from scratch. Dockers caching mechanism should be able to catch if 2 commandos on 2 images are the same so there is no giant overhead of re-downloading the whole thing just for the dev image.

If you wan't i can try to setup such a build process.

[2017-09-01 12:17] fquffio commented on #13
I was thinking of another solution: simply test dev images in the same jobs as the main ones. This would reduce the total number of jobs, but each job would take slightly longer. It should be pretty straightforward, I'll try to set something up in the afternoon. In the meanwhile, the PR can be merged anyways.

[2017-09-01 12:43] fquffio commented on #15
Closing, as the mentioned extensions are now installed.

[2017-09-01 12:43] #15 closed

[2017-10-11 14:29] ricsam opened #17 "Extension error"
Hi I am just using `FROM chialab/php:7.1-apache` in my Dockerfile and I get the following error when I later run php from the container.

[code]

All the extensions do exist in the target folder

[code]

 Docker 17.09.0-ce, build afdb6d4 on windows

[2017-10-11 16:50] #17 closed

[2017-10-12 08:38] fquffio commented on #17
Hello @ricsam , sorry for the trouble. You closed the issue… were you able to solve it?

[2017-10-12 13:21] ricsam commented on #17
@fquffio Hi! No problem, thank you for this repo! I managed to solve the issue. The image I tried to build contained Redis which by some reason made the extensions unavailable. So I moved my Redis to another docker image and everything worked as expected. This was not obvious yesterday so I thought there was an error in your image 😢 which was not the case 🎉 😄

[2017-10-12 13:23] fquffio commented on #17
Glad to hear that. 🙃  One less bug to fix for me! 😂 🥂  Happy coding!

[2017-10-12 13:31] fquffio opened #18 "PHP 7.2"
PHP 7.2 is now in RC phase. According to the [official timetable](https://wiki.php.net/todo/php72) it should become GA by the end of November.

We should save the date and add 7.2 images. Official Docker images for the RC releases are available, so we can use those as a starting point in the meanwhile.

[2017-10-18 16:26] #13 closed

[2017-11-08 21:15] fquffio opened #20 "Community guidelines"
This repository lacks of some community guidelines.

[2017-12-04 11:04] Nemo64 commented on #18
What's the status on this? The travis build tells me that xdebug is the issue?

[2017-12-04 16:13] fquffio opened #23 "Refactor project structure"
As the number of PHP versions increases, the number of Dockerfiles raises in a linear way. This brings the repository in a state that is hard to maintain: adding a feature requires a lot of files to be modified in the same fashion, there is a lot of duplicated code, we lack a single source of truth, and so on.

We could refactor repository structure in a way that takes advantage of Docker [build a

[2017-12-04 16:16] fquffio opened #24 "Replace `MAINTAINER` instruction"
`MAINTAINER` instruction in Dockerfiles became deprecated quite a long time ago, but we're still using it.

`MAINTAINER` instruction should be replaced with a `LABEL`. We should evaluate using [Label Schema](http://label-schema.org/rc1/) for this purpose.

[2017-12-05 13:48] Nemo64 commented on #18
Thanks for your continuing maintenance, those images really save a lot of compile time :)
The images aren't pushed to the public hub yet, right?
https://hub.docker.com/r/chialab/php/tags/

[2017-12-05 14:08] fquffio commented on #18
Ouch! You're right! I need to add configuration to Docker Hub… 😞  Sorry for that, I'll trigger the new builds in a few minutes!

[2017-12-05 15:12] fquffio commented on #18
Images should now be available on Docker Hub for pull. The automated build should have correctly been set up. Thanks @Nemo64 for reporting!

If there's still something wrong, anybody feel free to comment again or open a new issue.

[2017-12-05 15:12] #18 closed

[2017-12-05 15:39] Nemo64 commented on #18
Awesome, thanks 👍

[2018-01-10 18:08] fishnux opened #25 "Can't pull chialab/php-dev:7.2"
[code]
Is anyone experiencing the same issue?

[2018-01-10 19:20] fquffio commented on #25
Hey @fishnux ! Thanks for your interest in the project.

I'm afraid that `chialab/php-dev` for 7.2 series aren't available yet. Pull request #22 introduced images for PHP 7.2, but at the time XDebug wasn't available on PECL yet, so dev images were skipped. At the time of this writing, [XDebug for PHP 7.2 is only available as a beta release](https://pecl.php.net/package/xdebug), but I guess it's fi

[2018-01-11 09:12] #25 closed

[2018-01-11 16:44] fishnux commented on #25
Thank you @fquffio !

[2018-01-31 06:58] fquffio opened #28 "Broken build with latest version of XDebug"
XDebug 2.6.0 was released on [Jan 29](https://xdebug.org/updates.php#x_2_6_0), and it apparently doesn't support PHP 5.5 and 5.6 any more, and that causes a failure when building `chialab/php-dev:5.{5,6}` images.

On the other hand, we might be able to use a stable version of XDebug for PHP 7.2 images, that as of now use XDebug 2.0 RC1.

[2018-01-31 13:35] #28 closed

[2018-02-21 15:35] Slamdunk opened #30 "Bundle UNZIP package"
Hi, the most common way to install project nowadays is through composer, that for most of the distribution uses `unzip` to unpack the dependencies.

At the time of writing if fact I'm forced to do this everytime:
[code]
May we bundle unzip natively in these docker images?

[2018-02-21 16:13] fquffio commented on #30
Hi @Slamdunk! First of all, I'd like to thank you for your interest in this project and the time you're taking to contribute to it.

Could you please provide a little more context? Which image tag are you using? Can you attach a sample `composer.json` and the command you're launching to this issue?

We actually have a couple of projects that are built on top of this image and install dependencies

[2018-02-21 16:26] Slamdunk commented on #30
I'm sorry, `unzip` is not mandatory because in case isn't present, composer falls back to `ZipArchive`:

https://github.com/composer/composer/blob/ef46a8afa4f5d845befbc7be832432c4b30d6313/src/Composer/Downloader/ZipDownloader.php#L50-L57

But it is the preferred way because using system binaries is way faster than PHP functions.

Maybe we could try a performance benchmark between with and without

[2018-02-21 18:03] fquffio commented on #30
Oh, ok. I didn't know about this automatic fallback, so I assumed that everything was working normally. 😂

I'll be pushing a new branch shortly with the `unzip` package added as a runtime dependency… or if you wish to open a Pull Request, that would be very appreciated! We'll be then able to compare pros and cons of having an image with a larger footprint vs a quicker installation of packages.

An

[2018-02-21 18:24] Slamdunk commented on #30
Sounds reasonable. Tomorrow I'll do some benchmark and in case I'll open a PR on dev.

[2018-02-22 08:31] Slamdunk commented on #30
Uau, on my systems disabling `unzip` module an benchamrking installation with everything else disabled (`time composer.phar install --no-custom-installers --no-autoloader --no-scripts --no-suggest`) gives me better performances :open_mouth:

I would never expect this, so I'm closing this issue. Sorry for opening an issue before testing :flushed:

[2018-02-22 08:31] #30 closed

[2018-02-22 08:44] fquffio commented on #30
Don't worry, it's totally ok! I learned something new, and I agree that benchmark results are rather counter-intuitive. 🙃I'll take some time to run benchmarks on an EC2 instance in the afternoon and to try to confirm your benchmark results.

[2018-02-23 11:34] Nemo64 opened #33 "Tag Versioning"
So as mentioned in #31, I kind of dislike that changes like new extensions etc get pushed into old tags and potentially break old projects or make the version I run on my machine different from the version a co-worker runs on his machine.

Im not sure how far this must go. In the extreme case one would also want to pin the minor version of php.
So I see a few ways to do this I could think of.

- a

[2018-03-01 12:36] fquffio commented on #33
Hi @Nemo64 ! Sorry for replying with such a delay, but I've been kinda busy these days.

I'd rather not add another versioning system on top on PHP's one. So, I'd go with the first option you have proposed.

I was thinking of a third option, too, but I'd like to gather some feedback for it. We might continue tagging the way we do, and _additionally_ tag each image with the hash of the commit it wa

[2018-03-01 14:00] Nemo64 commented on #33
Your third way is basically my second way except with a checksum instead of a version. I honestly don't know whats best.

I don't think a checksum or version is pretty but it would resolve all my concerns. I could just pin down to a checksum and 7.1 and get (depending on my local cache) some php 7.1 version with the capabilities i pinned down on and if there is a new php extension added that i nee

[2018-03-01 17:57] fquffio commented on #33
I'd use the short version. Basically what `git rev-parse --short HEAD` prints to stdout.

According to [Git docs](https://git-scm.com/docs/git-rev-parse#git-rev-parse---shortlength), this returns always a unique prefix of at least N characters — on my system default is 7, we could choose to use 8. It is not guaranteed that the returned prefix won't conflict with something in the future, but it is

[2018-03-27 12:06] rafaelpatro opened #34 "Missing mcrypt to php7.2-fpm"
Hi man! Great project

How could I add mcrypt support in php7.2-fpm?

[2018-03-27 20:19] fquffio commented on #34
Hi @rafaelpatro , thanks for your interest.

According to [PHP 7.2 upgrade instructions](http://php.net/manual/en/migration72.other-changes.php#migration72.other-changes.mcrypt), `mcrypt` extension has now been moved to PECL due to some maintenance concerns. OpenSSL or Sodium extensions should be preferred instead.

We might install `mcrypt` to PHP 7.2 by running `pecl install mcrypt` and hopefull

[2018-03-27 23:02] rafaelpatro commented on #34
Yep! Mcrypt is required for Magento 1.
But I can use php7.1 for a while.

I'm trying to up 2 containers. Your php-fpm repo and a [nginx-pagespeed](https://github.com/27Bslash6/docker/tree/master/nginx-pagespeed/).
Simple PHP files are running very well.
[code]
The code above works great!
I don't know why but all Magento pages returns 404. I think it could be by different user:group permissions in

[2018-03-28 08:57] fquffio commented on #34
Honestly I never used Magento, so I don't know much about it. You may refer to magento/magento2#12273 for a more in-depth discussion about Magento 1 and PHP 7.2's lack of `mcrypt`.

`mcrypt` has been removed from PHP 7.2 due to the fact that it hasn't received an update for ages, so there were security concerns around it. It is still available from PECL, but I value PHP's experts' opinion enough t

[2018-03-28 11:39] rafaelpatro commented on #34
Thanks @fquffio, docker instruction works like a charm.
Magento keeps 404 but this is another approach.
TY

[2018-03-28 11:39] #34 closed

[2018-03-29 08:03] fquffio opened #35 "Missing EXIF extension"
[Exif](http://php.net/manual/en/book.exif.php) extension is a common requirement, and should come pre-installed in our Docker images.

It _should_ be enough to add `exif` to the list of arguments passed to `docker-php-ext-install`, and update assertions in Makefile.

Dev images (inside `dev/`) should not be updated directly, because they extend base images and therefore inherit new extension from

[2018-03-29 12:47] fquffio commented on #35
Closed by #36

[2018-03-29 12:47] #35 closed

[2018-06-12 14:09] soromamadou opened #37 "Memcached Server"
Hello,
you have done a great job. I run into an issue. I can't use memcached. I think this is due to the fact that it is'nt installed via your dockerfiles. I'am using php7.2-fpm dockerfile.
Could you please check it
Thanks
?

[2018-06-13 16:46] fquffio commented on #37
Hi @soromamadou !

Thanks for your interest in this project. The `memcached` extension should be already installed. 🤔 I have made a simple test, and everything looks fine to me. Here's what I've tried.

[code]

Could you try to explain what you've been trying that did not work as expected?

[2018-06-25 16:39] fquffio commented on #37
Hey @soromamadou , any updates on this? Have you been able to sort it out?

[2018-07-03 16:10] #37 closed

[2018-07-04 04:03] manzurshaikh opened #40 "fatal error call to undefined function mysql_query() cakephp"
Hi Chialab - appriciate if you can help  quit urgent!!

getting error php7.1 apache :
[code]
[code]
[code]

[2018-07-04 07:46] fquffio commented on #40
Hi @manzurshaikh ! First of all, thanks for your interest in this project.

I think that your setup has two different problems:

1. You're attempting to request a file that does not exist: `/css/bootstrap.min.css.map`.
    Is that file present in the `css` folder? Maybe your minify process does not produce source maps?
2. `mysql_query()` has been removed from PHP in version 7.0 (read the warning [

[2018-07-05 02:46] rahulwebonline commented on #40
thanks

[2018-07-05 02:47] manzurshaikh commented on #40
thanks dude 👍

[2018-07-05 02:47] #40 closed

[2018-07-20 14:29] soromamadou commented on #37
HI, Sorry for late response.

It works as expected. Thanks for all.

[2018-09-04 13:53] Slamdunk opened #41 "Auto sync with docker-library/php"
It seems to me that this repo isn't automatically triggered/synced with https://github.com/docker-library/php the source docker repo that this library relies on.

For example 15 days ago (20 ago 2018) PHP `7.1.21` was tagged in that repo:
https://github.com/docker-library/php/commit/74b59e1cf7e5a356b5d4ee5eaeffe5f70f5ebd4c

Bug as of yet `chialab/php:7.1` still exposes PHP `7.1.19`

[2018-09-04 14:46] fquffio commented on #41
Ciao @Slamdunk !
Yes, you are right. 😞 However I have actually problems figuring out which is the right way to solve this problem. I'm providing a little background to explain my confusion, with the hope that somebody might help me.

**TL;DR** As of now images are built on Docker's infrastructure every time a push happens on `master` using Docker's automated builds. Maybe the best option is to bui

[2018-09-04 15:03] fquffio commented on #41
Also, building images on Travis would make easier to achieve the solution described in #33, as well as make refactoring described in #23 possible.

[2018-09-04 15:19] Slamdunk commented on #41
Of course :+1: energy for Docker infrastructure comes from the Earth that we all needs, better lower as much as possible our impact

I have no experience in building docker images on Travis, so I would not switch away from `hub.docker.com` on-site building; but it's up to you.

A non-perfect and non-clearest but effective solution would be to add a Travis weekly cron that:

1. Gets the latest comm

[2018-09-18 10:18] manzurshaikh opened #42 "Memory allocation error but no php.ini how to modify memory setting"
2018-09-18 17:20:08 Error: Fatal Error (1): Allowed memory size of 134217728 bytes exhausted (tried to allocate 4096 bytes) in [/var/www/html/vendor/cakephp/cakephp/src/Database/Statement/PDOStatement.php, line 71]
Request URL: /admin/recons/upload
Referer URL: https://xx.com/admin/recons/upload
Client IP: 211.24.107.194
Trace:
Cake\Error\BaseErrorHandler::handleFatalError() - CORE/src/Error/BaseE

[2018-09-18 10:30] Nemo64 commented on #42
Use a `Dockerfile` and define your settings like something like this:

[code]

[2018-09-18 10:34] manzurshaikh commented on #42
FROM php:7.1-apache
MAINTAINER dev@chialab.it

# Install PHP extensions and PECL modules.
RUN buildDeps=" \
        default-libmysqlclient-dev \
        libbz2-dev \
        libmemcached-dev \
        libsasl2-dev \
    " \
    runtimeDeps=" \
        curl \
        git \
        libfreetype6-dev \
        libicu-dev \
        libjpeg-dev \
        libldap2-dev \
        libmcrypt-dev \
        li

[2018-09-18 10:44] manzurshaikh commented on #42
@Nemo64  i don't have php.ini inside the docker how do i do this?

[2018-09-20 05:44] manzurshaikh commented on #42
Thanks, issue has been resolved 👍

[2018-09-20 05:44] #42 closed

[2018-09-20 05:47] manzurshaikh opened #43 "docker-compose scale"
Hi @Slamdunk @nstCactus @lamasbr @Nemo64 @didoda

is this possible to do docker-compose scale = 5 or 10

seperate php and apache containers if you have any reference pls let me know

Thanks
Manzur

[2018-09-20 10:53] manzurshaikh commented on #43
thanks

[2018-09-20 10:53] #43 closed

[2018-10-16 15:48] Toflar opened #44 "Set env COMPOSER_ALLOW_SUPERUSER to 1"
Hey, cool image, thank you!

Using it to run my unit tests that need composer and the zip extension.
Do you mind adding `ENV COMPOSER_ALLOW_SUPERUSER 1` to the `Dockerfile`? This will disable the composer warning, see https://getcomposer.org/doc/03-cli.md#composer-allow-superuser

[2018-10-25 19:28] fquffio opened #45 "PHP 7.3"
With PHP 7.3 RC3 being out, it's time we start working on the new images.

[2018-10-25 19:29] fquffio commented on #44
Hey @Toflar ! Sorry I forgot to answer you sooner. Thanks for your interest in this project!

Seems a good idea… just wondering if there could be any unintended side effects…? 🤔

[2018-10-25 19:41] Toflar commented on #44
Nah, it just disables the warning that‘s all :)

[2018-10-25 20:31] #24 closed

[2018-10-25 20:31] #44 closed

[2018-11-29 16:30] Toflar opened #48 "Add unzip"
Would be great if `unzip` could be added to the image. That way composer will unzip the packages faster and more reliably (and the warning about it would be gone ;-)).

[2019-01-02 11:59] #45 closed

[2019-01-03 08:34] fquffio opened #49 "Update XDebug for PHP 7.3"
PHP 7.3 development images are using a beta version of XDebug 2.7.0. As soon as a stable version is released, they should be updated.

See <http://pecl.php.net/package/xdebug>

[2019-01-03 08:58] fquffio commented on #48
Hi @Toflar , sorry it took me so long to triage your issue. I had read it but then I forgot… 😞

I agree it would be a good enhancement to the image. I personally prefer to use multi-stage builds to reduce size of the resulting image, but I agree that it could be useful, at least for "base" images (those that aren't neither `-apache` nor `-fpm`).

Would that be enough? 🤔

[2019-01-03 13:12] Toflar commented on #48
Well, basically any image where you'd do something like `RUN composer install` in would benefit so at least for `-apache` it would probably be relevant as well. So you can quickly package a web app.
And I'm a fan of reduzing size too but we're talking like 500kb here :)

[2019-01-11 04:34] manzurshaikh opened #50 "Error: [Error] Call to undefined function App\Shell\ssh2_connect()"
Hi Guys

please help
getting below error
2019-01-11 10:35:02 Error: [Error] Call to undefined function App\Shell\ssh2_connect() in /var/www/html/src/Shell/OfflineDepositShell.php on line 24

i have already tried
&& apt-get install -y libssh2-1-dev libssh2-1 \
&& pecl install ssh2 \
&& docker-php-ext-enable ssh2

but it's not working
ERROR: Service 'cakephp' failed to build: The command '/bin/sh -c

[2019-01-11 08:52] fquffio commented on #50
Hi @manzurshaikh ! Which image are you building upon?

I've tried with the following `Dockerfile`:
[code]

Trying to build such image (`docker image build -t my/tag my/path/`) I get exit code 0, and `docker run --rm my/tag php -m | grep ssh` outputs `ssh2` as expected. 😉

[2019-03-06 15:44] padarom opened #51 "Setting docker user"
I'd like to run this container (specifically `7.2-apache`) while mounting a local volume to `/var/www/html`. Besides `php:7.2-apache` being very complicated to install extensions, I was able to pass `--user 1002:1002` to the `docker run` command without issues and have the apache user have correct write access to my local directory.

When I don't pass `--user` to this container, it runs, but whene

[2019-03-12 11:28] Toflar commented on #49
Still no tag on Docker Hub 😢  Is it related to xdebug? If so, 2.7.0 stable was released 6 days ago 🎉

[2019-03-13 11:42] fquffio commented on #49
Hi @Toflar ! I've opened a PR.

[2019-03-13 11:42] #49 closed

[2019-03-13 11:54] Toflar commented on #49
Weehee, thank you! Looking forward to the new image tag 😄

[2019-03-13 11:55] fquffio commented on #49
Yeah, the fact that the tag is missing is a bit weird, actually… Travis should build & upload images to Docker Hub, but probably something's not working. 🤔

[2019-03-13 12:06] Toflar commented on #49
Yeah somehow nothing is shown on Docker Hub.

[2019-03-13 17:30] fquffio commented on #51
Hi @padarom ! First of all, thanks for your interest in this project. Sorry for the late answer…

Permissions in Docker are a fairly complicated topic, and I'm not sure I've fully understood your use case from what you wrote. In my personal experience, mounting local volumes almost always caused some headaches… if possible, I'd try to `COPY` files into the Docker Image at build time, or mount volu

[2019-03-13 17:31] fquffio commented on #50
My apologies, but I'm closing this issue as two months have passed without any response. Feel free to open another issue should the problem persist.

[2019-03-13 17:31] #50 closed

[2019-03-13 17:33] fquffio opened #53 "Images are not being built on Docker Hub"
Images are not being built on Docker Hub. This might be a good chance to push the very same image that has been built (and tested!) on Travis CI.

[2019-03-13 17:34] fquffio commented on #49
Images should be built on Docker Hub… I got confused with another project where we build and push from Travis. Still, it's not working anymore.

I've opened #53 and I'll take care of it as soon as possible!

[2019-03-14 09:11] Nemo64 commented on #51
Apache can't run without root privileges since it's log folders are creates using root. And if it can, then the next problem is that port 80 is only usable by root.

The solution you are looking for is probably setting the environment variable APACHE_RUN_USER and APACHE_RUN_GROUP (https://askubuntu.com/a/164787). Just be sure that those users actually exist within the docker container, otherwise i

[2019-03-14 18:21] padarom commented on #51
That last bit is good to know. We intend to use a Docker container with some additional tooling for development on an in-house server, port 80 won't be used anyways.

The main reason I was asking because the original php-apache image seemed to work fine as long as I pass in the user to the instance, but obviously it's lacking all extensions. As far as I could see it these images use the original p

[2019-03-18 14:52] blakethepatton commented on #53
Probably, related... I'm getting the following error when trying to pull down php 7.3-fpm

[code]

[2019-04-02 16:07] Toflar commented on #53
Ping @fquffio

[2019-05-15 08:53] Lelenaic opened #55 "Adding Prestissimo to php-dev images"
As composer is very slow by default, can you add the Prestissimo plugin in the dev images? (https://github.com/hirak/prestissimo) It is a very efficient composer speed plugin which is very usefull when they are many packages to download.

[2019-05-17 07:43] Nemo64 commented on #55
You could share your composer home directory with your host or put it in a volume. That would allow you to cache downloads and you could also allow you to install a global package in it like prestissimo.

[2019-08-09 07:40] Slamdunk commented on #41
I solved this issue by adding a build trigger url in cloud.docker.com and calling it in a weekly build:

https://github.com/Slamdunk/docker-php/blob/510b5c97d27606fc90ff1d3297121f1f1a1a6c2b/.travis.yml#L1-L3

### https://cloud.docker.com/repository/docker/zoeslam/php-mysql/builds/edit
![Istantanea_2019-08-09_09-33-57](https://user-images.githubusercontent.com/152236/62762430-5de3b200-ba89-11e9-99e

[2019-08-15 14:13] ad-m opened #56 "PHP 5.6 partial support"
The official image available for PHP 5.6 is no longer updated, as PHP 5.6 has reached EOL status. The image was last rebuilt ```2019-01-23T00: 05: 39.53748511Z```. This means that both PHP and all libraries used to build PHP as well as the system libraries contained in the image are no longer updated.

In my environment - unfortunately - I have to provide PHP 5.6. I am thinking about minimizing th

[2019-08-15 14:16] ad-m commented on #56
Upstream commit to remove PHP 5.6: https://github.com/docker-library/php/commit/2408ff5a5ad7eb444d1689cb51653b59345ce009

[2019-12-23 14:05] mlocati opened #60 "Script to install extensions"
This is not strictly an issue, but rather a suggestion.

I've written a [well tested a script](https://github.com/mlocati/docker-php-extension-installer) that automatically installs APT (on Debian) and APK (on Alpine) dependencies, so that (for example) you can write `install-php-extensions gd` to easily install the php GD extension.

Since for this `chialab/docker-php` you too have to check these

[2020-01-01 12:19] le0m commented on #60
Hello and sorry for the delay, I was away for holidays.

I saw your script being mentioned by tianon in a docker issue I was reading, this could be a good opportunity for using it. BTW awesome script :+1:

Did a rapid test in local and this also shrank our `5.6-apache` image size down to ~440 MB, which is a nice bonus :smile:  I'll push a PR by the end of this week.

PS: happy new year!

[2020-01-16 21:08] Nemo64 opened #62 "xsl extension"
Symfony 4.4 has a new mailer component with a default template https://symfony.com/blog/new-in-symfony-4-4-notification-emails
This default template uses a few components, one of which is [pinky]https://packagist.org/packages/lorenzo/pinky) which requires the xsl php extension.

Basically I want to suggest adding the xsl extension.

[2020-01-17 19:24] le0m commented on #60
PR has been merged, thanks again for your work :+1:

[2020-01-17 19:24] #60 closed

[2020-01-17 20:17] le0m commented on #55
I'm currently evaluating this, not only for dev images.

I've been using Prestissimo plugin for over an year in multiple projects, and has been a blessing for CI/CD pipelines.
Since we're already installing composer, I don't see reasons not to add this.

[2020-01-18 18:16] #62 closed

[2020-01-20 14:43] DavidCarrington opened #64 ""Cannot load Xdebug - it was already loaded""
I've only tested against chialab/php-dev:7.4

`php --ini` reports two different files trying to load xdebug, xdebug.ini and docker-php-ext-xdebug.ini, so these error is appearing in various output.

Can one of these references be removed? It looks like xdebug.ini is created by the Dockerfile within this project.

[2020-01-20 15:35] le0m commented on #64
Hello and thanks for reporting the issue.

This is caused by #61 on versions 5.6+, I'll fix it asap.

[2020-01-20 16:14] le0m commented on #64
Referenced commit fixes the issue, I'm closing this.

[2020-01-20 16:14] #64 closed

[2020-01-30 09:49] robversluis opened #65 "Add sockets ext"
Can you please add the sockets extension.

[2020-01-30 16:55] le0m commented on #65
I'm not against adding extensions, but could you elaborate on your usecase? Are you using a particular framework or library that requires this?

[2020-02-29 20:46] mlocati commented on #60
PS: I recently added support for PHP 5.5 to the `install-php-extensions` script

[2020-03-11 16:58] Donjohn commented on #65
Yes AMQP for RabbitMQ

[2020-03-17 08:56] #48 closed

[2020-03-17 09:00] #65 closed

[2020-03-17 20:30] #55 closed

[2020-04-03 16:02] le0m commented on #53
This has been solved, images are deployed with Travis.

[2020-04-03 16:02] #53 closed

[2020-04-03 16:59] le0m commented on #41
In the end Docker went full circle: Hub --> Cloud --> Hub.

I found [this](https://github.com/docker/hub-feedback/issues/1717#issuecomment-536142871) and other issues relating to this one. It turns out that "Repository Link" is now disabled for base images because that would trigger a huge amount of automatic builds (think about how many images are based on official ones).
Right now we're relying

[2020-04-03 16:59] #41 closed

[2020-10-30 10:23] pazion opened #72 "The docker image of chialab/php:7.4-apache needs a rebuild to use latest 2.0.x composer version."
The current 2.0x version has an issue with the package laminas-dependency-plugin:

$ composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts --no-dev --no-autoloader

Loading composer repositories with package information
Installing dependencies from lock file

  [ErrorException]
  assert(): assert($rewriter instanceof DependencySolvingCapableInterface) failed

When up

[2020-10-31 08:23] fquffio commented on #72
Thank you for reporting this! I'm triggering a rebuild straight away.

I was also wondering whether we should ship separate images for Composer 1.x and 2.x, or have both like `composer1` and `composer2`, with `composer` being a symlink to the latter. But I'm opening another issue for this.

[2020-10-31 11:10] le0m opened #73 "Upgrade to Composer 2"
Composer 2 was released last week, this issue is for discussion about its adoption. See [here](https://github.com/composer/composer/blob/master/UPGRADE-2.0.md) for Composer 2 upgrade guide and possible breaking changes.

Current proposals (see https://github.com/chialab/docker-php/issues/72#issuecomment-719902517):
1. have separate images for Composer 1 and 2
1. install both as `composer1` and `co

[2020-10-31 20:30] pazion commented on #73
I think seperate builds is a bit overkill.
Option 2 with symlinks sounds good.

[2020-11-01 17:04] fquffio commented on #73
Ok, I've started working on this. Turns out having both `composer1` and `composer2` is a bit of a mess, as there is no obvious way to have them point to separate `$COMPOSER_HOME` directories. 😶 At least, I couldn't find any easy solution that didn't involve wrapping the Composer executable with some invoking.

This wouldn't be a problem if we didn't ship Composer 1 with `hirak/prestissimo` plugin

[2020-11-01 17:29] fquffio commented on #72
It was already mentioned in the linked issue, but the build process is temporarily broken due to Composer 2 rightfully refusing to install `hirak/prestissimo` plugin. Once the fix will be applied, this issue can be closed too.

[2020-11-01 17:36] le0m commented on #73
LGTM
The only problem I see with this solution is that users of this image could get an error if their application is not compatible with Composer 2. We could add a note in the README about `composer1`/`composer2` differentiation.

[2020-11-01 17:45] fquffio commented on #56
Hi, I'm bumping this issue, as the same problem also applies to many other PHP versions that have reached EOL long ago. Namely, PHP 5.4, 5.5, 7.0, 7.1, with PHP 7.2 joining the party in a month's time, on November, 30.

I agree that we should definitely start self-compiling PHP, although this looks like a lot of work: it would defy the purpose of this change to start from an unsupported Debian ver

[2020-11-01 17:53] le0m opened #75 "Migrate to travis-ci.com"
travis-ci.org will be closed down on december 31, public repos are required to migrate to travis-ci.com before that date (see [newsletter](https://mailchi.mp/3d439eeb1098/travis-ciorg-is-moving-to-travis-cicom)).

As an alternative, we could switch to GitHub Actions.

[2020-11-01 17:54] fquffio commented on #73
Yep, but that's nice to add in any case, even if we would proceed with separate builds, as they would need to change the base image they build upon, and choose the one with Composer 1 instead.

[2020-11-01 18:12] le0m commented on #73
We could've kept the current tags for Composer 1 images and introduce new tags for Composer 2, but that would probably have required more work and the solution you submitted makes more sense to me. I'll add a note in the README.

[2020-11-03 09:50] le0m commented on #75
I tested GitHub Actions (see [here](https://github.com/le0m/docker-php/actions/runs/342641061)), here's my thoughts:
- it's faster than Travis, the pipeline took 14 minutes to build and test all image tags
- if a single job fails you can't re-run only that like any sane CI solution, you have to re-run the whole pipeline

[2020-11-03 11:11] fquffio commented on #75
Agree that Travis isn't the solution to go anymore.

As an alternative, I propose also evaluating Azure DevOps Pipelines, which are of course free for open source. If I'm not wrong, GitHub Actions are basically a wrapper around that platform, and syntax is pretty much similar. I'll take a look at that and open a test branch in the afternoon.

[2020-11-10 15:55] #72 closed

[2020-11-10 15:55] #73 closed

[2020-11-14 18:50] rezakho opened #76 "Virus in contailner image"
Hi
PHP 7.4 fpm image has a `kdevtmpfsi` virus miner and It utilized 100% of all CPUs and RAM...
I think it is not a coincidence problem!
![Capture20](https://user-images.githubusercontent.com/2313035/99154789-94b26a00-26c7-11eb-8008-7a633f7c8255.PNG)

[2020-11-15 15:02] fquffio commented on #76
Thanks for reporting! I'm investigating the issue.

[2020-11-15 15:31] fquffio commented on #76
Hi @rezakho, I'm trying to reproduce the problem, but I need a little more context, please.

I've attempted to create (without launching) containers from `chialab/php:7.4`, `chialab/php:7.4-apache`, and `chialab/php:7.4-fpm` images, then inspecting the container's filesystem looking for a binary named `kdevtmpfsi`, but found nothing:
[code]
![image](https://user-images.githubusercontent.com/710814

[2020-11-16 22:15] rezakho commented on #76
Seems it is a nginx + php-fpm vulnerability!!!
[https://www.trendmicro.com/vinfo/in/security/news/vulnerabilities-and-exploits/php-fpm-vulnerability-cve-2019-11043-can-lead-to-remote-code-execution-in-nginx-web-servers]

[2020-11-17 06:46] fquffio commented on #76
The vulnerability you're pointing out was patched as of October 2019:

Right now, our images run PHP 7.2.34 and 7.3.24. PHP 7.4 was released after that vulnerability was fixed, and we must assume that every stable release of 7.4.x was unaffected, unless the bug was somehow reintroduced…

[2020-11-17 08:29] rezakho commented on #76
No! Unfortunately this vulnerability exists in php 7+ but not related directly to your repo or docker:
https://github.com/neex/phuip-fpizdam

[2020-11-17 23:03] le0m commented on #76
Hello @rezakho,
our images do not include nginx out of the box, and the vulnerability is patched in PHP 7.4, 7.3.11, 7.2.24 and 7.1.33 (see the [changelog](https://www.php.net/ChangeLog-7.php)) so the only versions that could be susceptible are 5.6 and 7.0.

Could you share more information on you setup? What flavor are you using, `php`, `php-apache` or `php-fpm`? What makes you think that the pro

[2020-11-23 09:31] fquffio commented on #76
I'm closing this issue, as we're unable to reproduce the scenario described starting from the base image.

Feel free to open a new issue, but please include detailed steps to reproduce the problem with the `chialab/php` image — keep in mind that we can't fix PHP's own vulnerabilities in this repository apart from installing and possibly pre-configuring it with sane, reasonable defaults.

[2020-11-23 09:31] #76 closed

[2020-11-27 01:23] ad-m opened #77 "Support for PHP 8.0.0"
– https://www.php.net/archive/2020.php#2020-11-26-3

[2020-11-27 01:32] ad-m commented on #77
Blocked by docker-library/php#1093

[2020-12-04 11:42] ilya-realforce commented on #77
Bump, seems that `php` image supports 8.0 now.

[2020-12-09 06:52] ilyachase opened #79 "Add ext-amqp extension"
This extension is also very popular and often needed. Can we add it?

[2020-12-11 19:05] le0m commented on #77
Hello, I'm currently waiting on `pdo_sqlsrv` and `sqlsrv` to get out of beta https://github.com/Microsoft/msphpsql/releases (which is also making the build fail)

[2020-12-17 22:58] 7elix commented on #77
The https://github.com/docker-library/php/pull/1090 seems to be solved. How can we support your initiative?

[2020-12-18 00:07] ad-m commented on #77
@7elix , see #80 for information about missing & blocking release of `sqlsrv` driver and see microsoft/msphpsql#1154 for further release plans and required help.

[2021-01-31 07:36] vanam commented on #77
Any update?

[2021-01-31 17:48] #77 closed

[2021-01-31 17:50] le0m commented on #77
Thanks for the reminder, I was checking `sqlsrv` weekly and didn't notice they [released 5.9.0](https://github.com/microsoft/msphpsql/releases/tag/v5.9.0) with PHP 8 support 2 days ago.

[2021-02-01 20:46] vanam commented on #77
Could you publish it through docker hub? I don't see it there (https://hub.docker.com/r/chialab/php-dev/tags) Thx.

[2021-02-01 20:53] ad-m commented on #77
@vanam, no, it's not possible at that moment. Blocked by #78 . See also comments in https://github.com/chialab/docker-php/commit/48dd3cbc498bb1ef3b5aaba5a5f10e4af964bb50#comments .

[2021-04-08 22:17] #75 closed

[2021-04-09 07:18] ENM1989 commented on #77
Seems doable now, because #78 was merged.

[2021-04-09 07:24] pulponair commented on #77
Then do it :) 👏

[2021-04-09 08:53] le0m commented on #77
It's done 😃

[2021-05-06 16:26] Nemo64 commented on #56
I'm a bit late here but I don't think this repo should now build php images from scratch.

This here is an extension to the official php repo and if the official php repo no longer provides support, then this repo shouldn't support it either as building an image from scratch is an entirely different beast than just extending one.

Now, someone™ could definitely create a separate repository to buil

[2021-08-10 09:40] into-the-v0id opened #82 "Add gettext extension"
Its a fairly common extension, so i was wondering if it would be possible to add it.

[2021-08-10 09:46] into-the-v0id opened #83 "Add imagick extension"
Imagick is a rather common extension, so i was wondering if it would be possible to add it.

However, doing so would probably increase the size of the image by quite a bit.

[2021-08-14 09:59] isilcala opened #84 "Add PhpRedis extension"
PhpRedis is commonly used in Drupal and other php projects, could we have it installed as well?

Thanks.

[2021-08-14 13:40] #84 closed

[2021-10-19 14:07] hexus opened #88 "All tags are serving PHP 8.0.11"
It looks like a recent change to this project - using build args for base image selections - has caused all images to use the `latest` base PHP image.

A few local tests:

`docker run -it chialab/php:5.6 php --version`

[code]

`docker run -it chialab/php:7.4 php --version`

[code]

[2021-10-19 14:17] fquffio commented on #88
Sorry @hexus , my bad. 😞 We're working on this!

[2021-10-19 14:22] fquffio commented on #88
I had forgotten to set the `build-args` argument in the second build… tests ran on correct images, but the second build (multi-arch) built always the `latest` image.

Should be fixed in 346723f, pipeline is running and correct images should be made available shortly. Sorry for the inconvenience!

[2021-10-19 20:31] n2o opened #89 "php:5.6-apache not serving files anymore"
Hello,

thanks for your work in this project! With your last release the behavior of the image changed, which is why it is currently not usable, but I think we can fix this :-) With the latest image, the container does not serve the PHP files, but starts in an interactive mode on the console:

[code]

This repeats until the container dies.

I start the container and mount the files to `/var/www/ht

[2021-10-20 06:26] fquffio commented on #89
Hi @n2o ! Sorry for the inconvenience.
I just tried and `docker run --rm -it chialab/php:5.6-apache` currently works for me, as it starts an Apache server with `apache2 -D FOREGROUND`.

However, yesterday I pushed a refactor that caused all images to be built upon `php:latest`, which has PHP 8.0.11 and no Apache server by default. We solved it in #88 and should have been fixed by yesterday at arou

[2021-10-20 07:03] #89 closed, assigned to nobody

[2021-11-30 16:42] halloei opened #91 "Support for PHP 8.1"
– https://www.php.net/archive/2021.php#2021-11-25-1

[2021-12-01 10:29] halloei commented on #91
@le0m Maybe this chance should be used to drop Composer 1, as it's deprecated?

[2021-12-06 17:14] le0m commented on #91
Sorry for the delay, in the next weeks I'll be busy with work & holidays so I won't be able to look into this 😞

I opened a PR, pipelines currently fail on build of `-dev` image because it expects to have the base PHP 8.1 image, which isn't pushed to DockerHUB yet.

[2021-12-24 19:52] dataf3l commented on #79
yes we totally need the bleep out of this one guys.
pretty please?

[2022-01-31 08:59] danakishi commented on #91
Hi @le0m
I propose to correct GitHub Actions workflow for building dev images after building main image

My PR https://github.com/chialab/docker-php/pull/93

Thanks

[2022-02-17 09:56] #91 closed

[2022-02-17 09:58] le0m commented on #91
Thanks for the PR and sorry for the delay 👍🏼

[2022-04-21 15:17] #51 closed

[2022-04-22 12:28] #79 closed

[2022-04-22 12:28] #82 closed

[2022-04-22 12:28] #83 closed

[2022-04-22 18:03] dataf3l commented on #79
thanks! :)

[2022-05-23 14:04] TKr opened #103 "pecl-event incompatible with Laravel"
Bug ? Notice ?

pecl-event registers class Event::class
laravel has own "Facade" system and register Event as `Illuminate\Support\Facades\Event::class`
but can not, pecl-event has already done this

Laravel's `Event::dispatch(something)` ends with error.

[2022-05-23 14:50] fquffio commented on #103
Hi @TKr, sorry for the issue. Can you help me reproduce? Can you please write which libraries are you installing and their versions? Maybe try attaching your `composer.json` redacting anything that you don't want to share…?

[2022-11-17 14:46] jjarolim opened #104 "PHP 8.1 Minor Versions"
Hi!

**First of all - thanks for your cool packages!**
It's a breeze starting projects with them: so really thanks alot!

I'd have one question though:

According to your documentation, you do a rebuild of the images every time a new PHP release is out, but if I pull `chialab/php8.1-apache`, I get an image containing `PHP 8.1.2` instead of `PHP 8.1.12`, which would be the [current release](https:/

[2022-11-29 16:23] le0m commented on #104
Scheduled pipeline has runned with success, I'll consider this issue resolved.

Comment again if you're having any issue!

[2022-11-29 16:23] #104 closed